<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<connectionStrings>
		<add name="ConnectionString"
			 connectionString="workstation id=CarRental.mssql.somee.com;packet size=4096;user id=kietcun100_SQLLogin_1;pwd=wdvu8fosx4;data source=CarRental.mssql.somee.com;persist security info=False;initial catalog=CarRental;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="AppCryptoKey" value="1234567890123456" />
		<add key="SecurityAnswerMaxAttempts" value="5" />
		<add key="SecurityAnswerCooldownMinutes" value="5" />
		<add key="OverdueFeePerDay" value="200000" />
	</appSettings>

</configuration>